<main class="md-padding layout-row flex" layout="row" style="max-width: 978px; margin: 0 auto"flex="">
  <md-content flex id="content" class="flex">
<div class="section-header">
<h1>About Us</h1>
</div>
<div layout="row"  class=" layout-row">
        <div flex="" style="margin:10px;" class="flex">
            <p class="text-center">Angular Material Kitchen Sink is a starting point for building Angular Material web app. It has everything that Angular Material has to offer. All you have to do is modify the code to your own and remove the stuff you don't want. Much of the code comes from <a href="https://material.angularjs.org/latest/">Angular Material docs</a> code snippets. </p>
        </div>
        <div flex="" style="margin:10px;" class="flex">
<img src="http://image.slidesharecdn.com/phone-mockup-140520090827-phpapp02/95/phone-mockup-1-638.jpg?cb=1400577076">
        </div>
    </div>
</md-content>
</main>
