<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Diversify.com</h1>
    <p>
      You have successfully signed up and we are so excited to have you! You will be receiving a email when you are matched with another user.
    </p>
    <p>
      To login to the site in the meantime, just follow this link.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
