
<main layout-align="center">
  <div flex-gt-sm="50" flex>
    <md-toolbar layout="row" class="md-hue-2">
      <div class="md-toolbar-tools">
        <span>Messages</span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex>
        <md-subheader class="md-no-sticky">3 line item</md-subheader>
        <a ui-sref="login"  >
<md-list-item md-ink-ripple="#" class="md-3-line" ng-repeat="item in todos">
          <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.who }}</h3>
            <h4>{{ item.what }}<span>{{ item.time }}</span></h4>
            <p>{{ item.notes }}</p>
          </div>
        </md-list-item></a>
      </md-list flex>
    </md-content>
</main>
