<h2>We have matched you with a new member.</h2>
<p>
Congratulations, you have been matched with <%= @name %>.</br>
Login to start getting to know your new friend.
</p>
Brought to you by Diversify.com

