<div layout="row" layout-padding class="bg-dark-blue nav-dark" layout-align="space-between center" style="max-width: 978px; margin: 0 auto">
<div>
    <a ui-sref="home"><md-button>Home</md-button></a>
    <a ui-sref="matches"><md-button>Matches</md-button></a>
    <md-menu>
        <md-button md-menu-origin ng-click="$mdOpenMenu()">Help</md-button>
        <md-menu-content width="2">
            <md-menu-item>
                <md-button>Help</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button>About</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
<div class="nav-buttons">
    <a ui-sref="login"><md-button class="md-raised md-primary">Log In</md-button></a>
    <a ui-sref="register"><md-button class="md-raised md-primary">Register</md-button></a>
    <a ui-sref="profile"><md-button class="md-raised md-accent">My profile</md-button></a>
    <a ui-sref="logout"><md-button class="md-raised md-warn">Log Out</md-button></a>
    <a ui-sref="testmatch"><md-button class="md-raised md-warn">Match Me</md-button></a>
</div>
